h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    text-align: center;
}

body {
    width: 480px;
    margin: 0 auto;
    background-color: #FFC1CC; 
    color: #D8F3DC;
}

.full-img {
    position: relative;
    display: block;
    margin-top: 50px;
    max-height: 640px;
}

.full-img img {
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 640px;
}

button {
    font-family: "Roboto", sans-serif;
    color: #D8F3DC;
    border: 0;
    background: rgba(8, 28, 21, 0.4);
    border: 1px solid #D8F3DC;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
    margin: 5px;
}

.thumb-bar {
    display: flex;
}

.thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
}

