body {
    margin: 0;
    padding: 0;
    height: 200vh; /* Increase height to allow scrolling */
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background: black; /* Set the background to black */
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%), url('./stars.png') no-repeat center center fixed;
    background-size: 150%; /* Zoom in the background image by 50% */
    opacity: 0.9; /* Set the opacity to 90% */
    z-index: -1; /* Ensure it is behind other content */
}

h1 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    margin-top: 400px;
}

p {
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
}

nav {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 0;
}
nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white; /* Add glow effect */
}
.concert1, .concert2, .concert3, .concert4, .concert5, .concert6, .concert7, .concert8, .concert9, .concert10 {
    margin-top: 100px; 
}

#saturn {
    position: absolute;
    left: -100%;
    width: 200%;
    height: auto;
    transform: translateY(50%);
    z-index: 10; 
    transition: transform 0.5s ease-out;
    opacity: 1;
}
body.scrolled #saturn {
    transform: translateY(0);
}
.night1 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: 700px;
    left: 500px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert1 {
    font-family: "quara-web", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 100%;
    text-align: right;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text1{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -600px;
    left: 0px;
    width: 100%;
    text-align: right;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 10px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#moon {
    position: absolute;
    bottom: -2000px; /* Position it below Saturn */
    left: 70%;
    width: 50%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #moon {
    transform: translateY(0);
}
.night2 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -1500px;
    left: -300px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert2 {
    font-family: "quara-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: -2200px; 
    left: 40px;
    width: 100%;
    text-align: left;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 10;
}
.text2{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -2750px;
    left: -30px;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 50px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#mars {
    position: absolute;
    bottom: -4500px; /* Position it below Saturn */
    right: 50%;
    width: 70%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #mars {
    transform: translateY(0);
}
.night3 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -3600px;
    left: 500px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert3 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -4600px; 
    left: -20px;
    width: 100%;
    text-align: right;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text3{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -5100px;
    left: -0px;
    width: 100%;
    text-align: right;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    z-index: 20;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#earth {
    position: absolute;
    bottom: -7200px; /* Position it below Saturn */
    left: 50%;
    width:100%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #earth {
    transform: translateY(0);
}
.night4 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -6100px;
    left: -500px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert4 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -7150px; 
    left: 40px;
    width: 100%;
    text-align: left;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text4{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -7650px;
    left: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#jupiter {
    position: absolute;
    bottom: -11000px; /* Position it below Saturn */
    right: 50%;
    width: 150%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #jupiter {
    transform: translateY(0);
}
.night5 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -9000px;
    left: 350px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert5 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -10900px; 
    left: 700px;
    text-align: right;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text5{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -11400px;
    left: 30px;
    width: 100%;
    text-align: right;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#neptune{
    position: absolute;
    bottom: -15000px; /* Position it below Saturn */
    left: 40%;
    width: 200%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #neptune {
    transform: translateY(0);
}
.night6 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -13000px;
    left: -400px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert6 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -14500px; 
    left: 40px;
    width: 100%;
    text-align: left;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text6{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -15030px;
    left: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#pluto {
    position: absolute;
    bottom: -16000px; /* Position it below Saturn */
    right: 700px;
    width: 50%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #pluto {
    transform: translateY(0);
}
.night7 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -15500px;
    left: 500px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert7 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -16300px; 
    width: 100%;
    text-align: right;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text7{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -16850px;
    right: -30px;
    width: 100%;
    text-align: right;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#venus {
    position: absolute;
    bottom: -18800px; /* Position it below Saturn */
    right: -1000px;
    width: 100%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #venus {
    transform: translateY(0);
}
.night8 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -17700px;
    left: -350px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert8 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -18700px; 
    width: 100%;
    left: 40px;
    text-align: left;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.text8{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -19200px;
    left: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 10px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#mercury {
    position: absolute;
    bottom: -21000px; /* Position it below Saturn */
    right: 500px;
    width: 100%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #mercury {
    transform: translateY(0);
}
.night9 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -20200px;
    left: 500px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert9 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -21160px; 
    width: 100%;
    text-align: right;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.text9{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -21700px;
    right: -30px;
    width: 100%;
    text-align: right;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}

#poliphemus {
    position: absolute;
    bottom: -23500px; /* Position it below Saturn */
    right: -800px;
    width: 100%;
    height: auto;
    transform: translateY(50%);
    z-index: 9; /* Ensure it is below Saturn */
    transition: transform 0.5s ease-out;
}
body.scrolled #poliphemus {
    transform: translateY(0);
}
.night10 {
    font-family: "nasalization", sans-serif;
    font-weight: 400;
    font-style: bold;
    position: absolute;
    bottom: -22500px;
    left: -500px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    letter-spacing: 1em;
}
.concert10 {
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
left: 40px;    
position: absolute;
    bottom: -23550px; 
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 10;
}
.text10{
    font-family: "quara-web", sans-serif;
font-weight: 400;
font-style: normal;
    position: absolute;
    bottom: -24100px;
    left: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    border: 25px solid black; /* Add a 100px border around the element */
    box-sizing: border-box; /* Include the border in the element's total width and height */

}


.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to the text */
    border-radius: 5px;
    transition: background 0.3s;
    z-index: 90;
}
.back-to-top:hover {
    background: rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white; /* Add glow effect */
}
