body {
    margin: 0;
    background: #006400;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: 50%;
    align-items: 50%;
    height: 100vh;
}
  
.controls {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    transform: translateX(50%);
}
  
button {
    padding: 5px 15px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #006400;
    font-weight: bold;
    cursor: pointer;
}

button#startButton {
    display: block;
    margin: 0 auto;
    transform: scale(1.5);
}
  
button:hover {
    background-color: #e0e0e0;
}
  
canvas {
    display: block;
    background: #0a4f2f;
    margin: 20px auto;
    border: 4px solid #fff;
    border-radius: 15px;
}

header h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.2em;
    font-size: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    letter-spacing: 30%;
}

main p {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 5%;
}