body {
    margin: 0;
    background: #006400;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    font-size: 110%;
    padding-top: 10%;
    gap: 10%;
    overflow: hidden;
}

.controls {
    padding: 25px;
    text-align: center;
    font-size: 19.8px;
    margin-top: 10%;
}

button {
    padding: 5.5px 16.5px;
    font-size: 17.6px;
    margin-left: 15px;
    border-radius: 5.5px;
    border: none;
    background-color: #ffffff;
    color: #006400;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10%;
}

button#startButton {
    display: block;
    margin: 20px auto;
    transform: scale(1.65);
}

button:hover {
    background-color: #e0e0e0;
}

canvas {
    display: block;
    background: #0a4f2f;
    margin: 20px auto;
    border: 4.4px solid #fff;
    border-radius: 16.5px;
    margin-top: 10%;
}

header h1 {
    letter-spacing: 0.2em;
    font-size: 2.2em;
    margin: 10px 0;
    margin-bottom: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

main p {
    font-size: 1.65em;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 5% 0;
}

#displayNumber {
    font-size: 3.5em;
    text-align: center;
    margin: 20% 0;
    letter-spacing: .3em;
}