* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: white; 
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background-color: white; 
  border-top: 1mm solid #333;
  border-bottom: 1mm solid #333; 
  background-image: 
      url('top.png'), /* Top image */
      url('bottom.png'); /* Bottom image */
  background-repeat: no-repeat;
  background-position: top center, bottom center; /* Fix the top and bottom image */
  background-size: 100% auto; /* Stretch the images to full width while keeping their shape */
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.7)); 
  box-shadow: 0 6px 10px black;
}
